<div class="booking-container" *ngIf="!bookingConfirmed">

  <h2>Book Tickets</h2>

  <label>Number of Tickets</label>

<input
  type="number"
  min="1"
  step="1"
  [(ngModel)]="tickets"
  class="ticket-input"
/>

  <button (click)="confirmBooking()">Confirm Booking</button>

</div>

<div class="qr-container" *ngIf="bookingConfirmed">

  <h2>🎉 Booking Confirmed!</h2>
  <p>Please show this QR code at the entrance</p>

  <qrcode
  *ngIf="bookingConfirmed"
  [qrdata]="qrData"
  [width]="220"
  [errorCorrectionLevel]="'M'">
  </qrcode>


  <a routerLink="/events">← Back to Events</a>

</div>
