<nav class="navbar">
  <div class="logo">Smart Event Planner</div>

  <ul class="nav-links">

    <!-- Public -->
    <li>
      <a
        routerLink="/events"
        routerLinkActive="active"
        class="nav-link"
      >
        Events
      </a>
    </li>

    <!-- Organizer (Logged in) -->
    <ng-container *ngIf="isLoggedIn()">

      <li>
        <a
          routerLink="/add-event"
          routerLinkActive="active"
          class="nav-link"
        >
          Add Event
        </a>
      </li>

      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          class="nav-link"
        >
          Dashboard
        </a>
      </li>

      <li>
        <a
          routerLink="/analytics"
          routerLinkActive="active"
          class="nav-link"
        >
          Analytics
        </a>
      </li>

      <li>
        <button class="logout-btn" (click)="logout()">
          Logout
        </button>
      </li>

    </ng-container>

    <!-- Login -->
    <li *ngIf="!isLoggedIn()">
      <a
        routerLink="/login"
        routerLinkActive="active"
        class="nav-link"
      >
        Login
      </a>
    </li>

  </ul>
</nav>

<!-- Theme Toggle -->
<button class="theme-toggle" (click)="toggleTheme()">🌙</button>
